.theme-bg2{
   /* background-image: url('http://111.231.59.56/bgimg.jpg'); */
   background-image: url('../img/theme2bg.jpg');
   background-size: cover;
   background-position: center;
   background-attachment: fixed; 
   background-repeat: no-repeat
}
.theme-header2{
    border-bottom: 1px solid #eee
}
.theme-segment2{
    background: unset !important
  }
.theme-footer2{
    color: darkgrey;
    min-height: 40px;
    border-top: 2px solid gainsboro;
    padding: 20px 0;
    margin-top: 20px;
    text-align: center;
  }
  .alert-secondary2{
    background: unset;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
  }